@import url(https://fonts.googleapis.com/css?family=Bitter);

body {

	margin: 0;

	/* disable horizontal scroll*/
	max-width: 100%;

/*    set background image*/
   background-image:url(gradient1.jpg);
   background-repeat:no-repeat;
   background-size:cover;
   padding-top:20px;
}


h1 {
	font-family: raleway;
	margin-left: 1.66%;
	font-size: 23px;
	font-weight: 800;
	text-transform: uppercase;
	border-bottom: 2px solid #f1f1f1;
	width: 30%;
	padding-top: 10px;
	padding-bottom: 10px;
	color:white;
}


h2 {
	font-family: raleway;
	margin-left: 1.66%;
	font-size: 23px;
	font-weight: 800;
	text-transform: uppercase;
	width: 30%;
	padding-top: 10px;
	padding-bottom: 10px;
	color:white;
}

p, span {
	font-family: raleway;
	margin-left: 1.66%;
	font-size: 50px;
	font-weight: 800;
	width: 30%;
	padding-bottom: 0px;
	color:white;
	margin-bottom: 0px;
	padding-top: 0px;
}

h3 {
	font-family: raleway;
	margin-left: 1.66%;
	font-size: 30px;
	font-weight: 400;
	width: 30%;
	padding-bottom: 20px;
	color:white;
	margin-bottom: 0px;
}


a {
	float: right;
	font-family: raleway;
	margin-right: 1.66%;
	font-size: 20px;
	font-weight: 800;
	color: white;
	text-decoration: none; /* no underline */
	-moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
    padding: 20px;
}

a:hover {
 background: #eee;
 color:red;
}


p, h1, a, span {
    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 2s; /* Firefox < 16 */
        -ms-animation: fadein 2s; /* Internet Explorer */
            animation: fadein 2s;
}


@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}



