html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}


/* Global */
body {
	font-family: raleway;
	max-width: 100%;
	margin:0;
   	padding:0;
	height: 100%;
	background: #eaf2f0;

	/* animation */
	-moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
}


img { 
	width: 75%;
	float: left;
	margin: 1.66%;
	object-fit: cover;
}

h1 {
	font-size: 30px;
	font-weight: 600;
	color:black;
}


h2 {
	font-size: 20px;
	font-weight: 40;
	padding-bottom: 20px;
	color:black;
	margin-bottom: 0px;
	width: 70%
}

main p, span {
	margin-left: 1.66%;
	font-size: 50px;
	font-weight: 800;
	width: 30%;
	padding-bottom: 0px;
	color:black;
	margin-bottom: 0px;
}

section {
	padding-top: 5%
}


p, h1, span {
    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 2s; /* Firefox < 16 */
        -ms-animation: fadein 2s; /* Internet Explorer */
            animation: fadein 2s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

a:hover {
	/*background: #eee;*/
 	/*border-radius: 5px;*/
 	color: #a80f1e;
 	text-decoration: underline;
 	-moz-transition: all .2s ease-in;
 	-o-transition: all .2s ease-in;
 	-webkit-transition: all .2s ease-in;
 	transition: all .2s ease-in;
}


/* NAV */ 
nav {
	position: fixed;
	width: 100%;
}

nav a {
	margin-right: 1.66%;
	font-size: 25px;;
	font-weight: 900;
	color: #073442;
	text-decoration: none; /* no underline */
	margin: 10px 30px;
	display: inline-block;
	float: right;
}

#active {
	float: left;
	margin-left: 1.66%;
	font-size: 23px;
	text-transform: uppercase;
	border-bottom: 2px solid #f1f1f1;
	width: 30%;
	padding: 10px;
	margin: 10px 30px;
}

/* ABOUT */
#profile-pic {
	max-width: 100%;
    height: auto;
   	border: none;
   	background-color: none;
   	padding: 10%;
	float: right;
}

/* PROJECTS */
#projects {
	width: 30%;
	/*margin: 1.66%;*/
	object-fit: cover;
  	width: 420px;
  	height: 420px;
}

#projects:hover {
	-webkit-filter: blur(2px);
	filter: blur(2px);
	-webkit-transition: .2s ease-in-out;
	transition: .2s ease-in-out;
}

.projects {
    padding-top: 5%;
    padding-left: 5%;
    padding-right: 5%;
}


.hvrbox,
.hvrbox * {
	box-sizing: border-box;
}


.hvrbox {
	position: relative;
	display: inline-block;
	overflow: hidden;
	max-width: 100%;
	height: auto;
}

.hvrbox img {
	max-width: 100%;
}

.hvrbox .hvrbox-layer_bottom {
	display: block;
}

.hvrbox .hvrbox-layer_top {
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
	color: #fff;
	-moz-transition: all 0.4s ease-in-out 0s;
	-webkit-transition: all 0.4s ease-in-out 0s;
	-ms-transition: all 0.4s ease-in-out 0s;
	transition: all 0.4s ease-in-out 0s;
}
.hvrbox:hover .hvrbox-layer_top,
.hvrbox.active .hvrbox-layer_top {
	opacity: 1;
}
.hvrbox .hvrbox-text {
	font-family: "Playfair Display";
	font-weight: 700;
	text-align: center;
	font-size: 25px;
	display: inline-block;
	position: absolute;
	top: 50%;
	left: 50%;
	-moz-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.hvrbox .hvrbox-layer_slideup {
	-moz-transform: translateY(100%);
	-webkit-transform: translateY(100%);
	-ms-transform: translateY(100%);
	transform: translateY(100%);
}
.hvrbox:hover .hvrbox-layer_slideup,
.hvrbox.active .hvrbox-layer_slideup {
	-moz-transform: translateY(0);
	-webkit-transform: translateY(0);
	-ms-transform: translateY(0);
	transform: translateY(0);
}


/* FOOTER */
footer {
	bottom: 0;
	padding-bottom: 25px;
	text-align: center;
	width: 100%;

	 position: absolute;
}

footer p {
    margin: 0;
    padding: 0px 10px;
    display: inline-block;
}

.fixed-bottom {
	position: fixed;
}

.title {
	padding: 100px;
}

.title p {
	color: black; /* #d8ba3e;*/
}


.row {
    display: flex;
    padding-top: 2.5%;
}

.column {
    flex: 50%;
}

.column h2 {
	font-family: 'Lato', serif;
}

.column a {
	font-family: 'Lato', serif;
	font-size: 18px;;
	color: #073442;
	text-decoration: underline;
}


.links a {
	font-size: 25px;
	font-weight: 900;
	color: #073442;
	text-decoration: none;
	padding: 0px 10px;
}

.links a:hover {
	font-size: 25px;
	font-weight: 900;
	color: #073442;
	text-decoration: underline;
}  

/* Project Page*/
.projectpage h1 {
	padding-top: 5%;
	padding-left: 5%;
	font-family: "Playfair Display"
}

.projectpage h4 {
	padding-left: 5%;
	padding-right: 5%;
	font-family: 'Lato', serif;
	font-size: 16px;
}

.projectpage a {
	font-family: 'Lato', serif;
}

.projectpage span {
	font-family: 'Lato', serif;
	padding-left: 15%;
	padding-bottom: 10%;
	font-weight: 200;
	font-size: 18px;
}

#projectimg {
	width: 400px;
	height: 500px;
}

#csa {
	height: 373px;
	width: 600px;
}

#posters {
	width: 373px;
	height: 576px;
}

.csa {
	padding-left: 5%;
	padding-right: 5%;
}


/* Middle Ground */
.middle-ground {
	padding-left: 5%;
	padding-right: 5%;
}

#middle-ground {
	width: 575px;
	height: 300px;
}

/*Paperless*/ 
.paperless {
	padding-left: 25%;
	padding-right: 25%;
	padding-bottom: 10%;
}

.paperless span {
	padding-left: 0%;
}

#paperless {
	width: 600px;
	height: 500px;
}


/*Animator*/
.animator {
	padding-left: 25%;
	padding-right: 25%;
	padding-bottom: 10%;
}

.animator span {
	padding-left: 0%;
}

#animator {
	width: 700px;
	height: 550px;
}

/*Vector Art*/
.vector-art {
	padding-left: 2.5%;
	padding-right: 2.5%;
}

/*AASIA*/
.aasia {
	padding-left: 10%;
	padding-right: 10%;
}

#aasia {
	width: 515px;
  	height: 515px;
}







